* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main {
    height: 100vh;
    position: relative;
    background-image: url(imagens/fundo-madeira.jpg);
    background-position: center center;
    background-size: cover;
}

#telefone {
    height: 500px;
    width: 500px;
    background-image: url(imagens/frame-iphone.png);
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe#home {
    position: relative;
    top: 65px;
    left: 145px;
    width: 211px;
    height: 373px;
    border-radius: 1px;
}

img {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 100%;
    box-sizing: border-box;
}

#redes-sociais {
   text-align: right;
}

#redes-sociais img:hover {
    border: 2px solid white;
    transform: translate(-2px, -2px);
    transition: transform 0.2s, border 0.2s;
}
