* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main {
    height: 100vh;
    position: relative;
    background-image: url(imagens/fundo-madeira.jpg);
    background-position: center center;
    background-size: cover;
}

#telefone {
    height: 500px;
    width: 500px;
    background-image: url(imagens/frame-iphone.png);
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
