

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}


body {
    background-color: lightblue;
}

header {
    background-color: gray;
}

header h1 {
    text-align: center;
    padding: 10px;
}

menu {
    display: none;
    background-color: rgb(62, 62, 62);
    text-align: center;
}

span#burguer {
    background-color: rgb(42, 42, 42);
    display: block;
    text-align: center;
    color: white;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover {
    background-color: white;
    color: rgb(66, 66, 66);
}

menu ul {
    list-style-type: none;
}

menu a {
    display: block;
    color: white;
    text-decoration: none;
    border-top: 2px solid gray;
    width: 100vw;
    padding: 10px 0px 10px 0px;
}

menu a:hover {
    background-color: lightgray;
}

main {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 60vw;
    padding: 10px;
    background-color: rgba(161, 160, 160, 0.885);
    border: 2px solid black;
    border-radius: 10px;
}

main h2 {
    padding: 5px;
}

article p {
    text-align: left;
    margin-bottom: 5px;
}