h1 {
    text-align: center;
    background-color: lightgray;
    margin-bottom: 10px;
    margin-top: 21px;

}

a {
    border: 3px dashed rgb(0, 0, 0);
    padding: 2px;
    border-radius: 5px;
    
}

header {
    height: 90px;
    width: 800px;
    margin: auto;
    background-color: lightgrey;
    border: 5px black solid;
    border-radius: 10px;
}

nav {
    text-align: right;
}



footer {
    background-color: black;
    text-align: center;
    color: white;
    font-family: serif;
    box-shadow: 10px 10px 10px grey;
}

main {
    border: 5px black solid;
    margin: 10px;
    padding: 5px;
}