@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: rgb(44, 43, 43);
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

header h1 {
    font-family: var(--fonte2);
    padding: 10px;
    font-variant: small-caps;
    font-size: 5vw;
}

section {
    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 50px;
    font-size: 2.5vw;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(49, 48, 48);
    color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: cover;
}

section.imagem#imagem1 {
    background-image: url(imagens/background001.jpg);
}
section.imagem#imagem2 {
    background-image: url(imagens/background002.jpg);
}

section.imagem p {
    display: inline-block;
    background-color: transparent;
    padding: 8px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    color: rgb(87, 87, 92);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}