/* Estilo para telas */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: lightgray;
}

header h1 {
    text-align: center;
}

menu {
    text-align: center;
}

menu ul {
    background-color: rgb(104, 103, 103) ;
    padding: 5px;
}

menu li {
    display: inline-block;
    padding: 10px;
    background-color: rgb(49, 49, 49);
    color: white;
}

article {
    margin: auto;
    width: 500px;
}
