body {
    background-image: url(https://occ-0-8407-90.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABZjBMkSR63oeZNC_oW_3yec6nQPTD2N1XfI1KKk-vEgPsxy8126T9D-1nTXV-sUJ2g8czYIL4l4_tSiWX9s6CtNpBJf6W8rHutpo.jpg?r=fc0);
    background-size: 1000px 1000px;
    background-repeat: no-repeat;
}