
.quadrado {
    border: 1px solid black;
    width: 250px;
    height: 250px;
    display: inline-block;
    border-radius: 10px;
    background-color: lightgray;
}

#q1 {
    background-color: lightblue;
}

#q2 {
    background-image: linear-gradient(to bottom, black, blue);
}

#q3 {
    background-image: url(imagens/wallpaper002.jpg);
}