/* Configurações gerais */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(29, 14, 230);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    color: white;
}