

@media screen and (min-width: 768px) {
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login {
        width: 90vw;
        transition: width 0.5s, height 0.5s;
    }
    section#login div#imagem {
        float: left;
        width:30%;
        height: 100%;
        background-position: left;
    }
    section#login div#form {
        float: right;
        width: 70%;
    }
    div#form p {
        font-size: 2.0em;
    }
    div#form p {
        font-size: 1.0em;
    }
}